<template>
    <v-container
            class="fill-height"
            fluid
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    sm="10"
                    md="10"
            >
                <v-form>
                    <v-text-field
                            v-model="name"
                            :counter="20"
                            label="Name"
                    ></v-text-field>
                    <v-text-field
                            v-model="price"
                            :counter="15"
                            :error-messages="priceErrors"
                            label="price"
                            @input="$v.price.$touch()"
                            @blur="$v.price.$touch()"
                    ></v-text-field>
                    <v-textarea
                            v-model="description"
                            outlined
                            label="description"
                    ></v-textarea>
                    <v-checkbox
                            v-model="enabled"
                            label="Enabled"
                    ></v-checkbox>

                    <v-flex xs12 class="text-xs-center text-sm-center text-md-center text-lg-center">
                        <img :src="imageUrl" height="150" v-if="imageUrl"/>
                        <v-text-field label="Select Image" @click='pickFile' v-model='imageName' prepend-icon='mdi-file-download'></v-text-field>
                        <input
                                type="file"
                                style="display: none"
                                ref="image"
                                accept="image/*"
                                @change="onFilePicked"
                        >
                    </v-flex>


                    <v-btn class="mr-4" @click="submit">submit</v-btn>
                    <v-btn @click="clear">clear</v-btn>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { validationMixin } from 'vuelidate';
    import { numeric } from 'vuelidate/lib/validators';
    import {mapState} from "vuex";
    import AXIOS from '../router/axios'

    export default {
        name: "AddItem",
        components: {
        },
        mixins: [validationMixin],
        validations: {
            price: { numeric },
        },
        computed: {
            ...mapState(['accessToken']),
            priceErrors () {
                const errors = []
                if (!this.$v.price.$dirty) return errors
                !this.$v.price.numeric && errors.push('Price must be numeric')
                return errors
            },
        },
        data() {
            return {
                name: '',
                price: '',
                description: '',
                photo: null,
                imageName: '',
                imageUrl: '',
                imageFile: '',
                enabled: true
            }
        },
        methods: {
            pickFile () {
                this.$refs.image.click ()
            },
            onFilePicked (e) {
                const files = e.target.files
                if(files[0] !== undefined) {
                    this.imageName = files[0].name
                    if(this.imageName.lastIndexOf('.') <= 0) {
                        return
                    }
                    const fr = new FileReader ()
                    fr.readAsDataURL(files[0])
                    fr.addEventListener('load', () => {
                        this.imageUrl = fr.result
                        this.imageFile = files[0] // this is an image file that can be sent to server...
                    })
                } else {
                    this.imageName = ''
                    this.imageFile = ''
                    this.imageUrl = ''
                }
            },
            clear() {
                this.$v.$reset();
                this.name = '';
                this.price = '';
                this.description = '';
                this.imageName = '';
                this.imageUrl = '';
                this.imageFile = '';
                this.enabled = '';
            },


            submit() {
                console.log(this.imageUrl);
                const data = {
                    "name": this.name,
                    "price": this.price,
                    "description": this.description,
                    "imageName": this.imageName,
                    "imageUrl": this.imageUrl,
                    "imageFile":this.imageFile,
                    "enabled":this.enabled
                }
                console.log(data)
                AXIOS.post('/api/menu', JSON.stringify(data))
                    .then(res => {
                        this.$noty.success('New menu item has been saved '+ res.data.id)
                        this.clear();
                    }).catch(err => {
                    this.$noty.error(err.message)
                })
            },

        }
    }
</script>

<style scoped>
</style>