<template>
    <v-container fluid>
        <v-row >
            <v-btn
                    @click="toggle"
            >Toggle all</v-btn>
            <v-col
                    v-for="(item, id) in menu" :key="id"
                    cols="12"
            >

            <v-card
                    dark
            >
                <div class="d-flex flex-no-wrap justify-space-between">
                    <div>
                        <v-card-title
                                class="headline"
                                v-text="item.name"
                        ></v-card-title>

                        <v-card-subtitle v-text="item.description"></v-card-subtitle>
                        <v-checkbox
                                v-model="item.enabled"
                                label="Enabled"
                        ></v-checkbox>
                        <v-card-actions>

                        <v-btn
                                @click="apply(item)"
                        >Apply</v-btn>
                        </v-card-actions>
                    </div>
                    <v-avatar
                            class="ma-3"
                            size="125"
                            tile
                    >
                        <v-img
                                :src="'/'+item.image_name"
                        >
                        </v-img>
                    </v-avatar>
                </div>
            </v-card>
            </v-col>
        </v-row>
    </v-container>

</template>

<script>
    import {mapState} from "vuex";
    import AXIOS from '../router/axios'

    export default {
        name: 'ChangeItemsEnabledStatus',

        data() {
            return {
                menu: [],
            }
        },
        computed: {
            ...mapState(['role', 'user'])
        },
        methods: {
            apply(item) {
                let data = {
                    "enabled": item.enabled
                }
                AXIOS.put('/api/v1/admin/menu/' + item.id, JSON.stringify(data))
                    .then(res => {
                        console.log(res)
                        this.$noty.success("Status changed to " + res.data.data.enabled)
                    }).catch(err => {
                    this.$noty.error(err)
                })
            },
            toggle() {
                this.menu.forEach(item => {
                    item.enabled = !item.enabled;
                })
            }
        },
        async created() {
            this.menu = await AXIOS.get('/api/admin/menu', {
                responseType: 'json'
            }).then( res =>
                this.menu = res.data.data
            );
        }
    };
</script>
