<template>
    <v-container
            class="fill-height"
            fluid
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    sm="10"
                    md="10"
            >

                <div id="invoice-POS">

                    <div id="mid">
                        <div class="text-center info">
                            <h2>Contact Info</h2>
                            <p>
                                Address : street city, state 0000</br>
                                Email   : best-pizza@gmail.com</br>
                                Phone   : 555-555-555</br>
                            </p>
                        </div>
                    </div><!--End Invoice Mid-->

                    <div id="bot">

                        <div id="table ">
                            <table class="text-center">
                                <tr class="tabletitle">
                                    <td class="item"><h2>Item</h2></td>
                                    <td class="item"><h2>Size coefficient</h2></td>
                                    <td class="item"><h2>Price 1 pc</h2></td>
                                    <td class="Hours"><h2>|Qty|</h2></td>
                                    <td class="Rate"><h2>Sub Total</h2></td>
                                </tr>

                                <tr class="service" v-for="item in cart" :key="item.id">
                                    <td class="tableitem"><p class="itemtext">{{item.name}}</p></td>
                                    <td class="tableitem"><p class="itemtext">{{item.size}}</p></td>
                                    <td class="tableitem"><p class="itemtext">€{{item.price}}</p></td>
                                    <td class="tableitem"><p class="itemtext">{{ item.qty }}</p></td>
                                    <td class="tableitem"><p class="itemtext">€{{ Math.round(item.price * item.qty * item.size)}}</p></td>
                                </tr>
                                <tr class="tabletitle">
                                    <td></td>
                                    <td class="Rate"><h2>Delivery</h2></td>
                                    <td class="payment"><h2>€5</h2></td>
                                </tr>

                                <tr class="tabletitle">
                                    <td></td>
                                    <td class="Rate"><h2>Total</h2></td>
                                    <td class="payment"><h2>{{cart.totalPrice}} {{cart.currency}}</h2></td>
                                </tr>
                            </table>
                        </div><!--End Table-->

                        <div id="legalcopy">
                            <p>Payment method: {{cart.payment}}</p>
                            <p class="legal"><strong>Thank you for your business!</strong>
                            </p>
                        </div>

                    </div><!--End InvoiceBot-->
                </div><!--End Invoice-->
                <v-form>
                    <v-text-field
                            v-model="firstName"
                            :error-messages="firstNameErrors"
                            :counter="20"
                            label="Name"
                            required
                            @input="$v.firstName.$touch()"
                            @blur="$v.firstName.$touch()"
                    ></v-text-field>
                    <v-text-field
                            v-model="phone"
                            :error-messages="phoneErrors"
                            :counter="15"
                            label="phone number"
                            required
                            @input="$v.phone.$touch()"
                            @blur="$v.phone.$touch()"
                    ></v-text-field>
                    <v-text-field
                            v-model="address"
                            :error-messages="addressErrors"
                            required
                            @input="$v.address.$touch()"
                            @blur="$v.address.$touch()"
                            name="address"
                            label="address"
                    ></v-text-field>
                    <v-textarea
                            v-model="comments"
                            outlined
                            label="comments"
                    ></v-textarea>

                    <v-btn class="mr-4" @click="submit">submit</v-btn>
                    <v-btn @click="clear">clear</v-btn>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { validationMixin } from 'vuelidate';
    import { required, numeric } from 'vuelidate/lib/validators';
    import {mapState} from "vuex";
    import AXIOS from '../router/axios'

    export default {
        name: "Checkout",
        components: {
        },
        mixins: [validationMixin],
        validations: {
            firstName: { required},
            phone: { required, numeric },
            address: { required },
        },
        computed: {
            ...mapState(['cart', 'accessToken', 'user']),
            firstNameErrors () {
                const errors = []
                if (!this.$v.firstName.$dirty) return errors
                !this.$v.firstName.required && errors.push('First name is required.')
                return errors
            },
            phoneErrors () {
                const errors = []
                if (!this.$v.phone.$dirty) return errors
                !this.$v.phone.required && errors.push('Phone is required.')
                !this.$v.phone.numeric && errors.push('Phone must be numeric')
                return errors
            },
            addressErrors() {
                const errors = []
                if (!this.$v.address.$dirty) return errors
                !this.$v.address.required && errors.push('Address is required.')
                return errors
            }
        },
        data() {
            return {
                firstName: '',
                phone: '',
                address: '',
                comments: '',
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 8 || 'Min 8 characters',
                },
                historyOrder: {}
            }
        },
        async created() {
            if (this.user.length > 0) {
                AXIOS.get('api/v1/getLastOrder').then( res => {
                    this.firstName = res.data.data[0].customer_name;
                    this.phone = res.data.data[0].phone;
                    this.address = res.data.data[0].address;
                });
            }

        },
        methods: {
            clear() {
                this.$v.$reset();
                this.firstName = '';
                this.phone = '';
                this.address = '';
            },
            submit() {
                this.$v.$touch();
                const data = {
                    "customer_name": this.firstName,
                    "phone": this.phone,
                    "address": this.address,
                    "order": this.cart,
                    "currency": this.cart.currency,
                    "payment": this.cart.payment,
                    "totalPrice": this.cart.totalPrice,
                    "user_comment": this.comments,
                    "user_id": this.user.id
                }
                AXIOS.post('/api/orders', JSON.stringify(data))
                    .then(res => {
                        this.$noty.success('Your order has been placed with id '+ res.data.id)
                        this.$store.commit('CLEAR_CART');
                        swal({
                            title: "Thank you!",
                            text: "Your order has been placed, now you will be redirected to main page",
                            icon: "success",
                            // buttons: true,
                            button: "Yes",
                            closeModal: false
                        }).then(() => {
                            this.$router.push('/')
                        });
                    }).catch(err => {
                    this.$noty.error(err.message)
                })
            }
        }
    }
</script>

<style scoped>
    #invoice-POS{
        box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
        padding:2mm;
        margin: 0 auto;
        background: #D3D3D3;
        color: black;


    ::selection {background: #f31544; color: #D3D3D3;}
    ::moz-selection {background: #f31544; color: #D3D3D3;}
    h1{
        font-size: 1.5em;
        color: #222;
    }
    h2{font-size: .9em;}
    h3{
        font-size: 1.2em;
        font-weight: 300;
        line-height: 2em;
    }
    p{
        font-size: .7em;
        color: black;
        line-height: 1.2em;
    }

    #top, #mid,#bot{ /* Targets all id with 'col-' */
        border-bottom: 1px solid #EEE;
    }

    #top{min-height: 100px;}
    #mid{min-height: 80px;}
    #bot{ min-height: 50px;}

    #top .logo{
    //float: left;
        height: 60px;
        width: 60px;
        background: url(http://michaeltruong.ca/images/logo1.png) no-repeat;
        background-size: 60px 60px;
    }
    .clientlogo{
        float: left;
        height: 60px;
        width: 60px;
        background: url(http://michaeltruong.ca/images/client.jpg) no-repeat;
        background-size: 60px 60px;
        border-radius: 50px;
    }
    .info{
        display: block;
        margin-left: 0;
    }
    .title{
        float: right;
    }
    .title p{text-align: right;}
    table{
        width: 100%;
        border-collapse: collapse;
    }
    td{
    //padding: 5px 0 5px 15px;
    //border: 1px solid #EEE
    }
    .tabletitle{
    //padding: 5px;
        font-size: .5em;
        background: #EEE;
    }
    .service{border-bottom: 1px solid #EEE;}
    .item{width: 24mm;}
    .itemtext{font-size: .5em;}

    #legalcopy{
        margin-top: 5mm;
    }



    }
</style>