<template>
            <v-container
                    class="fill-height"
                    fluid
            >
                <v-row
                        align="center"
                        justify="center"
                >
                    <v-col
                            cols="12"
                            sm="10"
                            md="10"
                    >
                        <v-card class="elevation-12">
                            <v-toolbar
                                    color="primary"
                                    dark
                                    flat
                            >
                                <v-toolbar-title>Login form</v-toolbar-title>
                                <v-spacer />
                            </v-toolbar>
                            <v-card-text>
                                <v-form>
                                    <v-text-field
                                            label="Email"
                                            name="Email"
                                            prepend-icon="mdi-account"
                                            type="text"
                                            v-model="email"
                                    />

                                    <v-text-field
                                            id="password"
                                            label="Password"
                                            name="password"
                                            prepend-icon="mdi-lock"
                                            type="password"
                                            v-model="password"
                                    />
                                </v-form>
                            </v-card-text>
                            <v-card-actions>
                                <v-spacer />
                                <v-btn @click="logIn" color="primary">Login</v-btn>
                            </v-card-actions>
                        </v-card>
                    </v-col>
                </v-row>
            </v-container>
</template>

<script>
    import AXIOS from '../router/axios'

    export default {
        name: "Login",
        data() {
            return {
                email: '',
                password: ''
            }
        },
        methods: {
            logIn() {
                const data = {
                    username: this.email,
                    password: this.password
                }
                AXIOS.post('/api/auth/login?username=' + this.email + '&password=' + this.password)
                    .then(res => {
                        // this.$store.commit('SET_ACCESS_TOKEN', res.data.access_token)
                        this.$store.commit('SET_USER', res.data)
                        this.$store.commit('SET_USER_ROLE', res.data.authorities)
                        this.$noty.success('Hello '+ res.data.name)
                        window.location = '/';
                    }).catch(e =>{
                        this.$noty.error(e.message)
                })
            }
        }
    }
</script>