<template>
    <v-container fluid fill-height>
        <v-row>
            <v-col cols="12">
                <h1>
                    List all orders
                </h1>
                <v-row v-for="order in orders" :key="order.id">
                    <v-col cols="12">
                        <v-simple-table dense>
                            <template>
                                <caption><span>Order date: {{order.created_at}}</span><br>
                                    <span>Order number: {{order.id}}</span><br>
                                    <span>Customer name: {{order.customer_name}}</span><br>
                                </caption>
                                <caption><span>Order date: {{order.address}} </span></caption>
                                <caption><span>Order date: {{order.id}} </span></caption>
                                <caption><span> </span></caption>
                                <thead>
                                <tr>
                                    <th class="text-left">Pizza name</th>
                                    <th class="text-left">Price (1pc)</th>
                                    <th class="text-left">Quantity</th>
                                    <th class="text-left">Size</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr v-for="item in order.menu" :key="item.id">
                                    <td>{{item.name}}</td>
                                    <td><v-icon  :size="15">mdi-currency-eur</v-icon>{{item.price}}</td>
                                    <td>{{item.pivot.qty}}</td>
                                    <td>{{item.pivot.size}}</td>
                                </tr>
                                <tr>
                                    <td>Delivery cost:</td>
                                    <td><v-icon  :size="15">mdi-currency-eur</v-icon>{{order.delivery_cost}}</td>
                                </tr>
                                <tr>
                                    <td>Total order price:</td>
                                    <td>{{order.total_price}}{{order.currency}}</td>
                                </tr>
                                <tr>
                                    <td>Order status:</td>
                                    <td>
                                        <v-select
                                                :height="10"
                                                v-model="order.status"
                                                item-text="name"
                                                item-value="id"
                                                :items="statuses"
                                                menu-props="auto"
                                                label="Select"
                                                hide-details
                                                single-line
                                                outlined
                                        ></v-select>
                                    </td>
                                    <td><v-btn @click="updateStatus(order)">Confirm</v-btn></td>
                                </tr>
                                <tr>
                                    <td colspan="3"><span>Order address: {{order.address}}</span></td>
                                </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapState} from "vuex";
    import AXIOS from '../router/axios'

    export default {
        name: "Manager",
        computed: {
            ...mapState(['role', 'user', 'accessToken', 'orders', 'statuses'])
        },
        data() {
            return {
                status: ''
            }
        },
        async created() {
            this.$store.dispatch('getAllOrders');
            this.$store.dispatch('getAllStatuses');

        },
        methods: {
            updateStatus(order) {
                let data = {
                    "status_id": order.status
                }
                AXIOS.put('/api/admin/orders/' + order.id, JSON.stringify(data))
                    .then(res => {
                        this.$noty.success("Status changed to " + res.data.data.status_id)
                    }).catch(err => {
                        this.$noty.error(err)
                })
            }
        }
    }
</script>

<style scoped>
</style>