<template>
    <v-container fluid fill-height>
        <v-row>
            <v-col cols="12">
                <h1>
                    List your orders {{user.name}}
                </h1>
                <v-row v-for="order in orders" :key="order.id">
                    <v-col cols="12">
                    <v-simple-table dense>
                        <template>
                            <caption><span>Order date: {{order.created_at}} </span><br>
                                <span>Order number: {{order.id}}</span><br>
                            </caption>
                            <thead>
                            <tr>
                                <th class="text-left">Pizza name</th>
                                <th class="text-left">Price (1pc)</th>
                                <th class="text-left">Quantity</th>
                                <th class="text-left">Size coefficient</th>
                                <th class="text-left">Subtotal</th>
                            </tr>
                            </thead>
                            <tbody>

                            <tr v-for="item in order.menu" :key="item.id">
                                <td>{{item.name}}</td>
                                <td><v-icon  :size="15">mdi-currency-eur</v-icon>{{item.price}}</td>
                                <td>{{item.pivot.qty}}</td>
                                <td>{{item.pivot.size}}</td>
                                <td>{{Math.round(item.pivot.size * item.pivot.qty * item.price)}}</td>
                            </tr>
                            <tr>
                                <td>Delivery cost:</td>
                                <td><v-icon  :size="15">mdi-currency-eur</v-icon>{{order.delivery_cost}}</td>
                            </tr>
                            <tr>
                                <td>Total order price:</td>
                                <td>{{order.total_price}}{{order.currency}}</td>
                            </tr>
                            <tr>
                                <td colspan="4"><span>Order address: {{order.address}}</span></td>
                            </tr>
                            <tr>
                                <td>Order status:</td>
                                <td>{{order.status.name}}</td>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                    </v-col>
                </v-row>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "Orders",
        data() {
            return {
                // orders: []
            }
        },
        computed: {
            ...mapState(['cart', 'role', 'user', 'accessToken', 'orders'])
        },
        async created() {
            this.$store.dispatch('getUserOrders');
        }
    }
</script>

<style scoped>

</style>