<template>
    <v-container
            class="fill-height"
            fluid
    >
        <v-row
                align="center"
                justify="center"
        >
            <v-col
                    cols="12"
                    sm="10"
                    md="10"
            >
                <v-form>
                    <v-text-field
                            v-model="name"
                            :error-messages="nameErrors"
                            :counter="10"
                            label="Name"
                            required
                            @input="$v.name.$touch()"
                            @blur="$v.name.$touch()"
                    ></v-text-field>
                    <v-text-field
                            v-model="email"
                            :error-messages="emailErrors"
                            label="E-mail"
                            required
                            @input="$v.email.$touch()"
                            @blur="$v.email.$touch()"
                    ></v-text-field>
                    <v-text-field
                            v-model="password"
                            :append-icon="show1 ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required]"
                            :type="show1 ? 'text' : 'password'"
                            :error-messages="passwordErrors"
                            label="Password"
                            required
                            @input="$v.password.$touch()"
                            @blur="$v.password.$touch()"
                            @click:append="show1 = !show1"
                    ></v-text-field>
                    <v-text-field
                            :append-icon="show2 ? 'mdi-eye' : 'mdi-eye-off'"
                            :rules="[rules.required]"
                            :type="show2 ? 'text' : 'password'"
                            v-model="passwordConfirm"
                            :error-messages="passwordConfirmErrors"
                            label="Confirm password"
                            required
                            @input="$v.passwordConfirm.$touch()"
                            @blur="$v.passwordConfirm.$touch()"
                            @click:append="show2 = !show2"
                    ></v-text-field>


                    <v-btn class="mr-4" @click="submit">submit</v-btn>
                    <v-btn @click="clear">clear</v-btn>
                </v-form>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import { validationMixin } from 'vuelidate';
    import { required, maxLength, email } from 'vuelidate/lib/validators';
    import AXIOS from '../router/axios'

    export default {
        name: "Register",
        mixins: [validationMixin],
        validations: {
            name: { required, maxLength: maxLength(10) },
            email: { required, email },
            passwordConfirm: {required},
            password: {required},
            select: { required },
            checkbox: {
                checked (val) {
                    return val
                },
            },
        },
        computed: {
            nameErrors () {
                const errors = []
                if (!this.$v.name.$dirty) return errors
                !this.$v.name.maxLength && errors.push('Name must be at most 10 characters long')
                !this.$v.name.required && errors.push('Name is required.')
                return errors
            },
            emailErrors () {
                const errors = []
                if (!this.$v.email.$dirty) return errors
                !this.$v.email.email && errors.push('Must be valid e-mail')
                !this.$v.email.required && errors.push('E-mail is required')
                return errors
            },
            passwordErrors () {
                const errors = []
                if (!this.$v.password.$dirty) return errors
                !this.$v.password.required && errors.push('Password is required')
                return errors
            },
            passwordConfirmErrors () {
                const errors = []
                if (!this.$v.passwordConfirm.$dirty) return errors
                !this.$v.passwordConfirm.required && errors.push('Password confirmation is required')
                this.password !== this.passwordConfirm && errors.push('password you entered don\'t match')
                return errors
            },
        },
        data() {
            return {
                name: '',
                email: '',
                password: '',
                passwordConfirm: '',
                show1: false,
                show2: false,
                checkbox: false,
                rules: {
                    required: value => !!value || 'Required.',
                    min: v => v.length >= 8 || 'Min 8 characters',
                    emailMatch: () => ('The email and password you entered don\'t match'),
                },
            }
        },
        methods: {
            clear() {
                this.$v.$reset();
                this.name = '';
                this.email = '';
                this.checkbox = null;
                this.checkbox = false;
                this.password = '';
                this.passwordConfirm = '';
            },
            submit() {
                const data = {
                    "name": this.name,
                    "email": this.email,
                    "password": this.password
                }
                this.$v.$touch();
                AXIOS.post('/api/registration', JSON.stringify(data), {headers: { "Content-Type": "application/json" }})
                    .then(res => {
                        console.log(res);
                        // this.$store.commit('SET_ACCESS_TOKEN', res.data.access_token)
                        this.$store.commit('SET_USER', res.data)
                        this.$store.commit('SET_USER_ROLE', res.data.authorities)
                        this.$noty.success('Registered successfully, '+ res.data.name)
                        this.$router.push('/')
                        }).catch(err => {
                            this.$noty.error(err.message)
                        })
            }
        }
    }
</script>

<style scoped>

</style>