<template>
    <v-container fluid>
        <v-row >
            <v-col cols="12">
                <h1>
                    Your order
                </h1>
                    <v-simple-table>
                        <template>
                            <thead>
                            <tr>
                                <th class="text-left">Pizza name</th>
                                <th class="text-left">Size</th>
                                <th class="text-left">Quantity</th>
                                <th class="text-left">Add</th>
                                <th class="text-left">Remove</th>
                                <th class="text-left">Base price</th>
                                <th class="text-left">Price Subtotal</th>
                            </tr>
                            </thead>
                            <tbody class="flex-content">
                            <tr v-for="item in cart" :key="item.id">
                                <td>{{ item.name }}</td>
                                <td
                                        class="flex-item"><v-select
                                        v-model="item.size"
                                        :items="sizes"
                                        item-text="name"
                                        item-value="coefficient"
                                        menu-props="auto"
                                        label="Select"
                                        hide-details
                                        single-line
                                        @change="calculateSizePrice($event, item)"
                                        outlined
                                ></v-select></td>
                                <td>{{ item.qty }}</td>
                                <td><v-btn @click="increase(item)" icon ><v-icon>mdi-plus</v-icon></v-btn></td>
                                <td><v-btn icon @click="decrease(item)"><v-icon>mdi-minus</v-icon></v-btn></td>
                                <td>{{ item.price }}</td>
                                <td>{{ Math.round(item.subTotal * item.qty) }} <v-icon :size="15">mdi-currency-eur</v-icon></td>
                            </tr>
                            <tr>
                                <td colspan="3">Delivery price</td>
                                <td></td>
                                <td></td>
                                <td></td>
                                <td>{{this.delivery}} <v-icon  :size="15">mdi-currency-eur</v-icon></td>
                            </tr>
                            <tr>
                                <td>total price</td>
                                <td ><v-select
                                        v-model="e1"
                                        :items="currency"
                                        menu-props="auto"
                                        label="Select"
                                        hide-details
                                        single-line
                                        @change="calculateCurrency"
                                        outlined
                                ></v-select></td>
                                <td colspan="3" v-if="e1 === 'Euro'">
                                    <v-icon  :size="15">mdi-currency-eur</v-icon>
                                    {{total(this.euro)}}
                                </td>
                                <td colspan="3" v-else>
                                    <v-icon :size="15">mdi-currency-usd</v-icon>
                                    {{total(this.USD)}}
                                </td>
                            </tr>
                            </tbody>
                        </template>
                    </v-simple-table>
                <v-row>
                    <v-col>
                        <div>
                            <h3>Choose payment method</h3>
                        </div>
                        <v-select
                                v-model="e2"
                                :items="payment"
                                menu-props="auto"
                                label="Select"
                                hide-details
                                single-line
                        ></v-select>
                    </v-col>
                </v-row>
                <v-btn @click="cancel" class="float-right">Cancel order</v-btn>
                <v-btn @click="toCheckout">Confirm order</v-btn>
            </v-col>
        </v-row>
    </v-container>
</template>

<script>
    import {mapState} from "vuex";

    export default {
        name: "Cart",
        data() {
            return {
                euro: 1,
                USD: null,
                e1: 'Euro',
                e2: 'Cash',
                sizes: [
                    {'coefficient': 0.8, "name": "small"},
                    {"coefficient" : 1, "name": 'medium'},
                    {"coefficient" : 1.2, "name": 'large'},
                ],
                currency: [
                    'Euro',
                    'USD'
                ],
                payment: [
                    'Cash',
                    'Credit card'
                ],
                totalPrice: 0,
                subTotal: 1,
                delivery: 5,
                coefficient: 1,
            }
        },
        computed: {
            ...mapState(['cart'])
        },
        methods: {
            calculateSizePrice(event, item) {
                this.coefficient = event;
                item.subTotal = item.price * this.coefficient;
            },
            calculateCurrency(e) {
                if (e === 'USD' && !this.USD){
                    this.axios.get('https://api.exchangeratesapi.io/latest')
                        .then(res => {
                            this.USD = res.data.rates.USD;
                        })
                }
            },
            decrease(item) {
                if (item.qty > 0)
                    item.qty--;
                else
                 this.cart.splice(item, 1);
            },
            increase(item) {
                item.qty++
            },
            cancel() {
                this.$store.commit('CLEAR_CART')
                this.$noty.success('Your cart is empty now!')
                this.$router.push('/')
            },
            total(currency){
                return  this.totalPrice = Math.round(currency * this.cart.reduce(function (acc,item) {
                    return acc + Number(( item.subTotal * item.qty) || 0)
                }, 0), 0) + this.delivery
            },
            toCheckout() {
                this.cart['currency'] = this.e1;
                this.cart['payment'] = this.e2;
                this.cart['totalPrice'] = this.totalPrice;
                localStorage.setItem('cart', JSON.stringify(this.cart))
                this.$router.push('/checkout')
            }
        }
    }
</script>

<style scoped>

</style>