<template>
<v-container fluid>
  <v-row >
  <v-col cols="12">
    <v-row

    >
    <v-card  v-for="(item, id) in menu" :key="id"
            class="mx-1"
            max-width="380"
    >
      <v-img
              class="white--text align-end"
              height="200px"
              :src="'/'+item.image_name"
      >
      </v-img>
      <v-card-subtitle class="pb-0 font-weight-bold">{{item.name}}</v-card-subtitle>

      <v-card-text class="text--primary">

        <div>{{item.description}}</div>
        <div class="font-italic">{{item.price}}€</div>
      </v-card-text>

      <v-card-actions>

        <v-btn
                color="orange"
                text
                @click="add(item)"
        >
          add to cart
        </v-btn>
      </v-card-actions>
    </v-card>
    </v-row>
  </v-col>
  </v-row>
</v-container>

</template>

<script>
import {mapState} from "vuex";
import AXIOS from '../router/axios'

export default {
  name: 'Menu',

  data() {
    return {
      menu: [],
    }
  },
  computed: {
      ...mapState(['cart', 'role', 'user', 'accessToken'])
  },
  methods: {
    add(item) {
        let selectedItem = {
            "name": item.name,
            "price": item.price,
            "description": item.description,
            "qty": 1,
            "size": '',
            "subTotal": 0,
            "id": item.id
        };
        if(this.cart.length > 0) {
            let exist = false;
            for(let index = 0; index < this.cart.length; index++) {
                let item = this.cart[index];
                if(item.id === selectedItem.id){
                    item.qty++;
                    exist = true;
                    break;
                }
            }
            if(!exist) {
                this.$store.commit('ADD_TO_CART', selectedItem)
            }
        } else {
            this.$store.commit('ADD_TO_CART', selectedItem)
        }
        this.$noty.success("Your " + item.name + ' added to cart')
    }
  },
  async created() {
      this.menu = await AXIOS.get('/api/menu', {
          responseType: 'json'
      }).then( res =>
          this.menu = res.data
      );
  }
};
</script>
