<template>
    <v-app id="inspire">
        <v-navigation-drawer v-if="role.includes('user') || role.includes('admin')"
                v-model="drawer"
                app
                clipped
        >
            <v-list dense>
                <v-list-item link  v-if="role.includes('user') || role.includes('admin')">
                    <v-list-item-action>
                        <v-icon>mdi-format-list-numbered-rtl</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title @click="$router.push('/orders')">My orders</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>
                <v-list-item v-if="role.includes('admin')" link>
                    <v-list-item-action>
                        <v-icon>mdi-shield-edit</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title @click="$router.push('/manager')">View all orders</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-if="role.includes('admin')" link>
                    <v-list-item-action>
                        <v-icon>mdi-playlist-plus</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title @click="$router.push('/addItem')">Add item to menu</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

                <v-list-item v-if="role.includes('admin')" link>
                    <v-list-item-action>
                        <v-icon>mdi-shuffle-disabled</v-icon>
                    </v-list-item-action>
                    <v-list-item-content>
                        <v-list-item-title @click="$router.push('/enableItems')">Activate menu</v-list-item-title>
                    </v-list-item-content>
                </v-list-item>

            </v-list>
        </v-navigation-drawer>

        <v-app-bar
                app
                clipped-left
                class="float-right"
        >
            <v-app-bar-nav-icon v-if="role.includes('user') || role.includes('admin')" @click.stop="drawer = !drawer"/>
            <v-toolbar-title>Pizza-App</v-toolbar-title>
            <v-spacer />
            <v-btn  title="Choose Pizza" icon @click="$router.push('/')">
                <v-icon>mdi-pizza</v-icon>
            </v-btn>

            <v-spacer />
            <div v-if="user.name">
                Hello {{user.name}}
                <v-btn title="Logout" icon @click="logout">
                    <v-icon>mdi-logout</v-icon>
                </v-btn>
            </div>
            <div v-else>
            <v-btn  title="Sign in" icon @click="$router.push('/login')">
                <v-icon>mdi-login</v-icon>
            </v-btn>
                <v-btn title="Sign up" icon @click="$router.push('/register')">
                <v-icon>mdi-account-plus</v-icon>
            </v-btn>
            </div>
            <v-spacer />
            <v-btn  title="To cart" icon @click="$router.push('/cart')">
                {{this.cart.length}}<v-icon>mdi-cart</v-icon>
            </v-btn>


        </v-app-bar>

        <v-content>
            <v-container
                    class="fill-height"
                    fluid
            >
                <router-view/>
            </v-container>
        </v-content>

        <v-footer app>
            <span><a target="_blank" href="https://bitbucket.org/somchaispb">Gaivoronski Denis</a> &copy; 2020</span>
        </v-footer>
    </v-app>
</template>

<script>
    import {mapState} from "vuex";
    import AXIOS from './router/axios'

    export default {
        name: 'App',

        components: {
        },
        computed: {
            ...mapState(['cart', 'role', 'user', 'accessToken'])
        },
        props: {
            source: String,
        },
        data: () => ({
            drawer: null,
        }),
        created() {
            this.$vuetify.theme.dark = true
        },
        methods: {
            logout() {
                AXIOS.post('/api/auth/logout', '').then(res => {
                    this.$store.commit('CLEAR_USER')
                    this.$store.commit('CLEAR_USER_ROLE')
                    this.$store.commit('CLEAR_CART')
                    this.$store.commit('CLEAR_ACCESS_TOKEN')
                    this.$noty.success(res.data.message);
                    this.$router.push('/')
                }).catch(err => {
                    this.$noty.error(err.message)
                })
            }
        }
    }
</script>